body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: red;
  background: url('img/grouper.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav h1 {
  margin: 0;
  font-size: 45px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 25px;
}

.logout {
  display: flex;
  align-items: center;
}

.logout p {
  margin: 0;
}

.logout img {
  margin-right: 5px;
  height: 33px;
  width: 33px;
  border-radius: 60px;
  border-width: 1px;
  border-style: solid;
}

.landing {
  margin-top: 75px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  font-size: 16px;
  text-shadow: 1px 1px black;
}

.landing p {
  max-width: 150px;
}

.landing .btn {
  padding: 0 2px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  border-radius: 6px;
  color: black;
  text-transform: none;
  text-shadow: none;
  height: 40px;
  width: 139px;

  display: inherit;
  justify-content: space-around;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

strong {
  font-weight: bold;
}

input {
  margin: 0;
  padding: 0;
}

.group-strategy-and-size {
  display: flex;
  justify-content: space-between;
}

.input-field {
  margin: 0;
}

.channels-and-groups {
  display: flex;
}

.options-label {
  font-size: 22px;
  margin: 22px 0;
}

#channels, #usergroups {
  width: 0;
}

th {
  padding: 0;
}

td {
  padding: 0;
}