.logout {
  display: flex;
  align-items: center;
}

.logout p {
  padding: 0;
  margin: 0;
}

.logout img {
  margin-right: 5px;
  height: 33px;
  width: 33px;
  border-radius: 60px;
  border-width: 1px;
  border-style: solid;
}